<!DOCTYPE HTML>
<html lang="en">
<head>
    <style type="text/css">
        .iqiyi_shortcodes {
            position: relative;
            width: 100%;
            height: 0;
            padding-bottom: 66%;
            margin: auto;
            overflow: hidden;
            text-align: center;
        }
        .iqiyi_shortcodes iframe {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
        }
    </style>
    <title></title>
</head>
<body>
<div class="iqiyi_shortcodes">
    <iframe src="https://open.iqiyi.com/developer/player_js/coopPlayerIndex.html?vid=44118df2c8e8bb181348388cb06b0034&tvId=385276600&accessToken=2.ef9c39d6c7f1d5b44768e38e5243157d&appKey=8c634248790d4343bcae1f66129c1010&appId=1368&height=100%&width=100%" frameborder="0" allowfullscreen="true" width="100%" height="100%"></iframe>
</div>
</body>
</html>

